# Auto detect text files and perform LF normalization
* text=auto
CPP_POKER/** filter=lfs diff=lfs merge=lfs -text
Windows_AssortRock_CPP/** filter=lfs diff=lfs merge=lfs -text
*.cpp !text !filter !merge !diff
*.h !text !filter !merge !diff
